.mainContentContainer{
	width:900px;
	margin: 0px auto;
	font-size:14pt;
	overflow:hidden;
	text-align:center;
	height:100%;
}

.panelItemContainer{
	font-size:10pt;
	position:relative;
}

.panelHeadline{
	font-size:24pt;
	margin-bottom:20px;
}
.panelSimpleBodyText{
	margin:0px 10px;
}

.panelBasicImage{
}

#panelItemContainer{
	width:500px;
}

.contentListActivator{color:#ddeeff;background:#588599;}
.contentListActivator:hover{color:blue;background:#ddeeff;}

#tabContainer{clear:both;border-bottom:2pt solid gray;height:20px;}

.panelTab{
}

#panelContainer{float:left;width:900px;

margin-top:20px;overflow:hidden;}

#contentList{
}



/*PANEL APPEARANCE =========================================*/

.anythingSlider-default.activeSlider .anythingControls a{
	color:#ccc !important;
}
.anythingSlider-default.activeSlider .anythingWindow {
	border-color: transparent !important;
	border-bottom:none !important;
}

/* Navigation current & hovered button, active state */

a.cur {
	/* background image removed */
	color:#666 !important;
}

/*TAB PANEL CONTROLS =========================================*/

.masterPanelList{
	border:4pt solid #e6e3e3;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	width:890px;
	height:448px;
}

#contentList{ /* this spec is necessary so that the scroll arrows appear*/

	width:890px;
	height:448px;
}

.sliderTopControls{
	padding-left:0px;
}

.sliderTopControls li{
	display:inline;
	margin:0px 3px 0px 3px;
	padding:0px 20px;
	background: #e6e3e3;
	border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;

	-moz-box-shadow: inset -2px -2px 2px #888;
	-webkit-box-shadow: inset -2px -2px 2px #888;
	box-shadow: inset -2px -2px 2px #888;


}

.tabControlGuts{
padding:10px 0px;
}
.sliderTopControls a {
	/* top shadow */
	color: #2a7fff;
	font-size:8pt;
	vertical-align:top;
}

.sliderTopControls a:hover{
color:#888;
}

.thumbNav{
line-height:30px;
}

.thumbNav li a{
width: 100px;
}


.anythingSlider-default .arrow a {

background: url(/js/widgets/stylesheets/anythingslider/imagesCustom/defaultXLighter.png) no-repeat;
}