
<style>
body { margin-left: auto !important; margin-right:auto !important; width:1000px;
background-color: #82bff !important;
background-image: -ms-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DAEAFF), color-stop(1, #82BFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%);
/* IE6 & IE7 */
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#82BFFF', endColorstr='#DAEAFF');
	/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#82BFFF', endColorstr='#DAEAFF')"; 
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #DAEAFF 0%, #82BFFF 100%); }

.navBlock {
background-color: #ffebfa !important;

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #ffebfa 0%, #82BFFF 100%) !important;

/* Opera */ 
background-image: -o-linear-gradient(bottom, #ffebfa 0%, #82BFFF 100%) !important;

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ffebfa), color-stop(1, #82BFFF)) !important;

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #ffebfa 0%, #82BFFF 100%) !important;
/* IE6 & IE7 */
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#82BFFF', endColorstr='#ffebfa') !important;
	/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#82BFFF', endColorstr='#ffebfa')" !important; 
/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #ffebfa 0%, #82BFFF 100%) !important;
}


.dropdown {
font-size: 1.3em;
}
#linearBgt {display:inline-block;
padding:10px;
width:1000px;
background-color: #82bff !important;
background-image: -ms-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%) !important;

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #DAEAFF), color-stop(1, #82BFFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #DAEAFF 0%, #82BFFF 100%);

/* IE6 & IE7 */
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#82BFFF', endColorstr='#DAEAFF');
	/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#82BFFF', endColorstr='#DAEAFF')"; 

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #DAEAFF 0%, #82BFFF 100%); }


#headerimg {
display:block; 
position:relative; 
z-index:99; 
height:40px; 
margin-left:auto; 
margin-right:auto;
padding:0 10px 10px;
}
.mainContentContainer {
padding:0 0 40px 0;
}

</style>
<div id="headerimg">
<img src='images/New1TenSigmaLogo.png' style='float:left;'></img></br>
<img src='images/TenSigmaMission.png' style='float:center;'></img></br>
<!--<img src='images/TenSigmaBookStairs.png' style='float:right;'></img></br>-->
</div>