<!--
These belong to the featurePanels but are in this file because...

For some freaking reason, Slick Carousel wipes the id values from the <area> elements
for the panels that occur after the first one. It's insane.

-->
<map name='image-maps-2015-08-25-165829' id='ImageMapsCom-image-maps-2015-08-25-165829'>
<area  alt='' title='statePriorities' id='statePrioritiesS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='961,21,1277,96' style='border:1pt solid red;' target='_self'     />
<area  alt='' title='goalTitle' id='goalTitleS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='102,16,950,99' style='outline:red;' target='_self'     />
<area  alt='' title='needs' id='needsS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='164,103,1275,381' style='outline:none;' target='_self'     />
<area  alt='' title='goalSchools' id='goalSchoolsS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='253,386,1277,414' style='outline:none;' target='_self'     />
<area  alt='' title='goalSubgroups' id='goalSubgroupsS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='424,418,1276,446' style='outline:none;' target='_self'     />
<area  alt='' title='metrics' id='metricsS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='168,482,1277,551' style='outline:none;' target='_self'     />
<area  alt='' title='actionSteps' id='actionStepsS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='15,603,569,875' style='outline:none;' target='_self'     />
<area  alt='' title='actionScope' id='actionScopeS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='578,605,718,874' style='outline:none;' target='_self'     />
<area  alt='' title='actionPupils' id='actionPupilsS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='726,607,1161,877' style='outline:none;' target='_self'     />
<area  alt='' title='budget' id='budgetS2' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='1166,604,1277,878' style='outline:none;' target='_self'     />
<area shape='rect' coords='1291,885,1293,887' alt='Image Map' style='outline:none;' title='Image Map' id='Image MapS2' href='#' onclick='javascript:showInstructionPanel(event);' />
</map>

<map name='image-maps-2015-08-26-130052' id='ImageMapsCom-image-maps-2015-08-26-130052'>
<area id='goalTitleS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='145,14,942,93' style='outline:none;' target='_self'     />
<area id='statePriorityS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='955,16,1268,95' style='outline:none;' target='_self'     />
<area id='goalSchoolsS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='254,97,1273,126' style='outline:none;' target='_self'     />
<area id='goalSubgroupsS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='419,131,1271,161' style='outline:none;' target='_self'     />
<area id='prevMetricsS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='127,167,641,435' style='outline:none;' target='_self'     />
<area id='currMetricsS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='754,169,1272,435' style='outline:none;' target='_self'     />
<area id='prevActionStepS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='15,572,516,687' style='outline:none;' target='_self'     />
<area id='prevActionScopeS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='109,692,517,729' style='outline:none;' target='_self'     />
<area id='prevActionPupilsS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='15,735,517,799' style='outline:none;' target='_self'     />
<area id='prevBudgetS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='527,571,642,687' style='outline:none;' target='_self'     />
<area id='currActionStepS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='644,571,1145,685' style='outline:none;' target='_self'     />
<area id='currActionScopeS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='736,691,1146,731' style='outline:none;' target='_self'     />
<area id='currActionPupilsS3' alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='645,734,1147,798' style='outline:none;' target='_self'     />
<area  alt='' title='' href='#' onclick='javascript:showInstructionPanel(event);' shape='rect' coords='1153,573,1274,688' style='outline:none;' target='_self'    data-maphilight='currBudgetS3' />
<area shape='rect' coords='1287,815,1289,817' alt='Image Map' style='outline:none;' title='Image Map' href='http://www.image-maps.com/index.php?aff=mapped_users_58458' />
</map>