.anythingSlider-default .anythingControls
{
	display: none;
	outline: 0 none;
}

body
{
	background: white;
	font-family: 'Open Sans', sans-serif;
}

.navBlock
{
	width: 1000px;
	background: #f2f2f2;
	height: 50px;
	margin: 0px 0px 20px 0px;
}

.navMenus
{
	width: 860px;
	padding-top: 13px;
	margin: 0px 70px 20px 70px;
}

.mainContentContainer { }

.panelBlock
{
	width: 864px;
	height: 396px;
	font-size: 14pt;
	color: #2a7fff;
	overflow: hidden;
	text-align: left;
	background: #f2f2f2;
	position: relative;
}

.anythingSlider-default .anythingControls a
{
	background: #f2f2f2 !important;
	border-radius: 0 0 5px 5px;
}

.anythingSlider-default.activeSlider .anythingControls a
{
	color: #bbb;
	/*color of type in the tab, not hover or current*/
}

.anythingSlider-default.activeSlider .anythingControls a.cur,
.anythingSlider-default.activeSlider .anythingControls a:hover
{
	color: #fff;
	background: #aaa !important;
}

.anythingSlider-default.activeSlider .anythingWindow
{
	border-color: white !important;
	border-bottom: 2pt solid #f2f2f2 !important;
}

.anythingSlider-default .anythingControls a.start-stop
{
	color: #bbb !important;
	/*color of type in the tab, not hover or current*/
}

/* Navigation styles are in superGlobal */
.panelBlock a
{
	padding-right: 20px;
	position: absolute;
	bottom: -3px;
	right: -30px;
}

.panelBlock a:hover { }

.aa
{
	font-size: 12pt;
	font-weight: 200;
	letter-spacing: .7pt;
}

.bb
{
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	letter-spacing: 1.15pt;
}

.prose
{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 10pt;
	width: 450px;
}

.proseTiny
{
	margin-top: 10px;
	margin-left: 20px;
	font-size: 10pt;
	width: 450px;
}

.emphatic{
font-weight:bold;
font-size:105%;
}