
<div class='featurePanel scroll1 tqTest' id='Without_Execution'>

	<h2 class='featureTopic' style='top:5%;left:10%'>
		Plans In Action
	</h2>
	
	
	<h1 class='featureItemsSmallHide highlightOverlay' style='bottom:0%;left:0%;'>
		Document actions, success measurement, responsibility and finances
	</h1>
	
	<a class='responsiveButton learnButton ' href='#' ><div class='buttonAnnotation featureItemsSmallHide'>Learn About</div>Implementation</a> 
	
	<img class='featureItemsSmallHide scrollPicture' src=
	'../images/featurePanelBackgrounds/c_zoom-53400930-3.jpg'>
</div>