
<div class='featurePanel scroll1 tqTest' id='Shared_Vision' title='A Shared Vision'>

	<h2 class='featureTopic' style='top:7%;left:59%'>
		A Shared Vision
	</h2>
	<h1 class='featureItemsSmallHide highlightOverlay' style='bottom:0%;left:0%;'>
		Understandable format. In-context editing. Access anywhere.
	</h1>
	
	<a class='responsiveButton learnButton ' href='#' ><div class='buttonAnnotation featureItemsSmallHide'>Learn About</div>Collaboration</a> 
	
	<img class='featureItemsSmallHide scrollPicture' src=
	'../images/featurePanelBackgrounds/d_zoom-23909279-3.jpg'>
</div>