.DS_Store
._.DS_Store

/application/configs/*
/library/Credentials/*

/technology/_SUBSITES/elearning
/technology/_SUBSITES/viewpoint

/technology/_SUBSITES/plans
/technology/_SUBSITES/systems
/technology/_SUBSITES/programming
/technology/_SUBSITES/data
/tenSigma

/tmp/*

public/media/hash/*

Icon?