

.featurePanel{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
}

.featurePanelResponsiveTiny{
	padding:3pt 5pt;
	margin:5pt auto;
	width:90%;
	border:1pt solid black;
	border-radius: 3pt; /* CSS3 */
	background:#69f;
}