





/* Navigation styles are in superGlobal */



.testimonial{
font-style:italic;
font-size:80%;
}

/* panel contents ==========================================*/

.panelItemContainer{
}

.panelTextContainer{
padding:10px;
}
.panelHeadline{
font-size:180%;
margin-bottom:10px;
}

.subHead{
font-size:130%;
font-style:italic;
margin-bottom:10px;
}

.prose{
margin-top:10px;
margin-left:20px;
font-size:10pt;
width:450px;
}

.supportLink{
position:absolute;
bottom:0px;
left:40px;
padding-bottom:10px;
font-size:8pt;
width:530px;
border-top:1pt solid #f2f2f2;
padding-top:10px;
}

.panelItemContainer a{
color:red;
padding-left:10px;
}
.panelItemContainer a:hover{
color:blue;
padding-left:20px;
}

.listFeature{
	margin-left:15px;
	margin-bottom:5px;
	list-style-type: disc;
}

.listFeature:before{
content:"• ";
}

.quote{
color:#297FFF;
}

.attribution{
color:#777;
font-weight:normal;
font-style:italic;
}

.detailHeadline{
font-weight:bold;
font-size:110%;
}

.benefit{
margin-top:10px;
margin-left:20px;
font-size:10pt;
width:450px;
}

.benefit .title{
font-weight:bold;
}
.benefit .description{
font-style:italic;
}

.quotation{
margin:20px 0px 0px 10px;
font-size:10pt;
width:400px;
}

.quotation .attribution{
font-style:italic;
}

.hRule{
margin-top:10px;
border-top:1pt solid #f2f2f2;
}



.sliderTopControls a {
    color: #2A7FFF;
    font-size: 8pt;
}