

.featurePanel{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
}

.featurePanelResponsiveTiny{
	padding:.3em .5em;
	margin:.5em auto;
	width:90%;
	border:.2em solid black;
	border-radius: .3em; /* CSS3 */
	background:#69f;
}