

.listFeature{
	margin:0px 0px 5px 25px;
	font-size:8pt;
}
.listFeatureTight{
	margin:0px 0px 3px 25px;
	font-size:8pt;
}

#logoTable td{
height:45px;
width:134px;
padding:2px 4px;
}

.goButton{
background:url(../images/goButtonReady.jpg);
cursor:pointer;
}

.goButton:hover{
background:url(../images/goButtonHover.jpg);
}

.chalkField{
color:white;
font-size:18px;
}

.sliderTopControls li {
    background: none repeat scroll 0 0 #E6E3E3;
    border-radius: 0 0 0 0;
    box-shadow: -2px -2px 2px #888888 inset;
    display: inline;
    margin: 0 3px;
    padding: 0 17px;
}