.addToCart{
padding-top:5px;
}

.catalogContentContainer{

padding:23px;
position:relative;
}

.catalogContentContainer .storeHeader{
background:white;
height:70px;
padding:15px 10px 25px 10px;
position:relative;
}

.catalogContentContainer .storeHeader .title{
font-size:180%;
font-weight:bold;
}

.catalogContentContainer .storeHeader .title .text{
margin-bottom:20px;
}

.viewCartButton{
display:none;
}

.productListContainer{
margin-left:120px;
}

.navLinks{
font-weight:normal;
margin:10px 0px;
}

.simpleButton{
padding:0px 10px;
}