.addToCart{
padding-top:5px;
}

.catalogContentContainer{

padding:23px;
position:relative;
}

.catalogContentContainer .storeHeader{
background:white;
height:50px;
padding:25px 10px 0px 10px;
position:relative;
}

.catalogContentContainer .storeHeader .title{
font-size:150%;
font-weight:bold;
}

.viewCartButton{
display:none;
}

.productListContainer{
margin-left:120px;
}