.productCategoryContainer{
overflow:hidden;margin-top:10px;background:white;
}


.productCategoryContainer .sideBar{
width:150px;height:160px;float:left;background:white;padding-top:48px;
}


.productCategoryContainer .header{
padding-top:10px;background:white;float:left;width:651px;
}
.productCategoryContainer .header .titleText{
font-weight:bold;font-size:135%;
}

.productCategoryContainer .productList{
width:801px;margin:20px 0px 2px 0px;background:white;float:left;
}

.productCategoryContainer .productList .productListingItemContainer{
	text-align:left;
	overflow:hidden;
	border-top:2pt solid white;
	background:#BBDBFF;
	color:#666;
	padding:0px 0px 0px 30px;
	position:relative;
}

.productCategoryContainer .productList .productListingItemContainer .descriptionContainer{
float:left;margin:10px 0px 0px 10px;width:80%;
}

.productCategoryContainer .productList .productListingItemContainer .descriptionContainer .primaryTitle{
font-weight:bold;font-size:120%;
width:80%;
}

.productCategoryContainer .productList .productListingItemContainer .descriptionContainer .description{
margin:10px 0px 10px 30px;
height:1px;
overflow:hidden;
font-size:120%;
}

.productCategoryContainer .productList .productListingItemContainer .descriptionContainer .showFirstLine{
margin:15px 0px 10px 30px;
height:20px;
}
.productCategoryContainer .productList .productListingItemContainer .descriptionContainer .description .innerContainer{

}

.productCategoryContainer .productList .productListingItemContainer .descriptionContainer .annotation{
font-weight:normal;font-size:100%;margin:10px 0px 10px 10px;text-align:left;color:red;
}


.shrinkButton10{
height:10px;
padding:1px 5px 1px 5px;
font-size:8pt;
}

.expandoButtonIdClass{
display:none;
position:absolute;
top:2px;
right:120px;
font-weight:normal;
}

.expanded:before{
content:"Less Info"
}
.shrinked:before{
content:"More Info"
}