.contactButtonCssFileIndicator{color:black;} /*this is here to show which file in browser debug*/


.contactButton{
	background:url(../images/requestContactReady.png);
	height:45px;
	width:90px;
	cursor:pointer;
}

.contactButton:hover{
	background:url(../images/requestContactHover.png);
}


.contactPanel{
	height:300px;
	width:300px;
	
	padding:20px;
	font-weight:bold;
	
	background:white;
	border:1pt solid gray;
	
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari, Chrome */
  border-radius: 4px; /* CSS3 */
	-webkit-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	   -moz-box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
	        box-shadow:2px 3px 5px rgba(0, 0, 0, .5);
}

.contactPanel .header{
height:30px;text-align:center;border-bottom:1pt solid gray;padding-bottom:10px;margin-bottom:10px;
}

.contactPanel .header .subTitle{
	font-size:80%;
	font-weight:normal;
	margin:3px 0px 0px 0px;
}

.contactPanel td{
	padding:10px 10px 2px 0px;
}

