.navigationBarFileIndicator{color:black;} /*this is here to show which file in browser debug*/

.headerblock{
	height:70px;width:1000px;margin:0px 0px 0px 0px;
	text-align:left;
	position:relative;
}

.headerblock .logo{
font-size:24pt;margin:10px 0px 0px 30px;color:#2a7fff;
width:500px;
}

.headerblock .fullname{
margin:0px 0px 0px 32px;clear:both;color:#666;
width:500px;
}

.headerblock .tagLine{
	font-family: 'Satisfy', cursive;
	font-size:18pt;
	margin:-28px 0px 0px 0px;
	float:right;color:#666;
	height:0px; /*for some reason this block rides at the bottom of the enclosing div, I set this so it doesn't hang out.*/
	width:415px; /*this moves the left justified tagline horizontally*/
}

.navBlock{
width:1000px;background:#f2f2f2;height:50px;margin:0px 0px 20px 0px;
}

.navMenus{
width:860px;
padding-top:13px;
margin:0px 70px 20px 70px;
}


