.navigationDropDownMenusCssFileIndicator{color:black;} /*this is here to show which file in browser debug*/

/*NAVIGATION BAR STYLES =========================================*/

ul.dropdown a:hover{
	color: #000;
}
ul.dropdown a:active{
	color: #ffa500;
}
ul.dropdown li a
{
	border-right: 1px solid #333;
	color:#2a7fff;
}
ul.dropdown li:hover{
	background: #F3D673;
	color: #2a7fff;
}
ul.dropdown li.hover a{
	color: black;
}

/*refers to subsequent levels of popup, if present*/
ul.dropdown ul li{
	background: #f6f6f6;
	color: #000;
}