/*

Remember, 'featurePanel also refers to files in _mediaQueries.

*/

#scroll1NavContainer{
position:relative;
}

.slick-prev{
	left:1%;
	top:90%;
}
.slick-next{
	right:1%;
	top:90%;
}

.slick-slider{
margin-bottom:0px;
}


.featurePanel{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	min-height:90vh;
}

.featurePanelResponsiveTiny{
	padding:.3em .5em;
	margin:.5em auto;
	width:90%;
	border:.2em solid black;
	border-radius: .3em; /* CSS3 */
	background:#69f;
}

.scroll1 img{
	height:100%;
	width:100%;
}

.scroll1 .headTitle{
	position:absolute;
	top:10%;
	left:10%;
	font-size:200%;
	font-weight:bold;
	color:pink;
}