<style>
#noBg {
position:relative;
margin-right:15px;
padding:370px 0 0; /* Raises and lowers the side bar height */
width:240px;
height: 100%;
background: transparent;
}

#bottom {
display:block;
clear:both;
height: 100%;
margin-top: 20px;
padding: 25px 5px 15px;
border-top: 1px solid #1f497d;
bottom:20px;
vertical-align:top;
text-align: center;
font-size: 1.2em;
}
#top {
display: block;
position:absolute;
top: 5px;
left: 5px;
right: 5px;
botom:10px;
font-size: 1.2em;
}
</style>
<div id='noBg'>
<div id='top'><!--<a href="http://<!rootDomainSegment!>/#id=movie">Watch a short video</a>
and receive valuable teaching tools FREE
<br />
<br /> -->
<h2 class="sidebar" style="color: #BE2625; font-size:1.2em;">Find Out About Our Products:</h2><br />
<ul class='checkmark'>
<li><a href ="/rubrics">Transition Rubrics in RubricMaker</a></li>
<li><a href="/transition">Transition System</a></li>
<li><a href="/transitionrubrics">Transition Rubrics Manual</a></li>
<li><a href="/transitionactivities">Transition Activities</a></li>
<li><a href="/skills">Ten Sigma Transition Skills</a></li>
<!--<li>Access to RubricMaker</li> -->
</ul>
<br />
<img src='images/frontPageMovie.png'width='200px'></img>
<br />
</div>
<div id='bottom'>
<h2 style="color: #BE2625; font-size:1.2em;">Sign up for a Demo</h2> <br />
<!--and earn a chance to win valuable prizes<br />
<br /><a href="/videos">See the list of Valuable prizes</a>-->
<div title='Sign-Up for a Demo' style='margin:10px auto;' class='demoButton contactFormButton' buttonId='tensigma: Demo Registrant'  formName='demoRequest'>
</div><br />
</div>
</div>
