


h2
{
color:white;
font-size:5vw;
}




ul{
font-size:100%;
}

h1{
	font-size:100%;
	font-weight:normal;
}

.highlightOverlay {
  background: rgba(255,255,255,.6) none repeat scroll 0 0;
  font-size: 3vw;
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight:bold;
}