.techPanel{
margin:20px;
}

.prose1{
font-size:10pt;
margin-bottom:15px;
width:400px;
}

.prose2{
font-size:10pt;
margin-left:50px;
margin-bottom:15px;
width:500px;
}

.prose3{
font-size:8pt;
margin-left:50px;
margin-bottom:15px;
width:500px;
}

.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }



.panelItemContainer .featureQuotation{
margin:20px 0px 10px 10px;
font-size:9pt;
}

.panelItemContainer .featureQuotation .attribution{
font-style:italic;
}



.techPanel a{
color:gray;
padding-left:10px;
}
.techPanel a:hover{
color:blue;
padding-left:20px;
}



.pageHeadline{
font-size:180%;
margin-bottom:10px;
}

.panelItemContainer .subHead{
font-size:115%;
color:gray;
font-style:normal;
margin-bottom:10px;
}

.prose{
margin-top:10px;
margin-left:20px;
font-size:10pt;
width:450px;
}



.benefit{
margin-top:25px;
margin-left:20px;
margin-bottom:5px;
font-size:10pt;
}

.benefit .title{
font-weight:bold;
}
.benefit .description{
font-style:italic;
}
.benefit .section{
font-style:italic;
font-weight:bold;
margin:15px 15px;
}

.learnMore{
	height:50px;
	width:50px;
background:url(../images/ICON_Link_Device_Blue_01.png) no-repeat;
}
.learnMore:hover{
background:url(../images/ICON_Link_Device_Silver_01.png) no-repeat;
}

.listFeature{
margin-left:15px;
list-style-type: disc;
}

.listFeature:before{
content:"• ";
}


.techDetails{
margin:20px 0px 0px 20px;
}

.techDetails td{
padding-bottom:3px;
padding-right:10px;
}

b{
font-weight:bold;
}

.annotationPanel{
background:white;
height:50px;
padding-top:15px;
text-align:center;
}

.screenshot{

}

.screenshot .caption{
font-size:12pt;
color:gray;
text-align:center;
height:60px;
padding-top:20px;
}

.screenshot .image{
text-align:center;
}