





.mainContentContainer{

}

.panelBlock{
	width:900px;
	height:500px;
	font-size:14pt;
	overflow:hidden;
	text-align:left;
	background:white;
}

.panelFirstLine{
font-family: 'Open Sans Condensed', sans-serif;
font-weight:bold;
margin-bottom:30px;
font-size:18pt;
}

.panelWisecrackBlock{
width:700px;
}

.panelWisecrack{
margin-left:50px;
}

.panelLastLine{
font-weight:bold;
font-style:italic;
margin-bottom:30px;
margin-top:30px;
font-size:18pt;
}

.anythingSlider-default.activeSlider .anythingControls a{
	background:#f2f2f2 !important;
	color:#ccc !important;
}
.anythingSlider-default.activeSlider .anythingWindow {
	border-color: white !important;
	border-bottom:2pt solid #f2f2f2 !important;
}


/*NAVIGATION BAR STYLES =========================================*/

ul.dropdown a:hover{
	color: #000;
}
ul.dropdown a:active{
	color: #ffa500;
}
ul.dropdown li a
{
	border-right: 1px solid #333;
	color:#2a7fff;
}
ul.dropdown li:hover{
	background: #F3D673;
	color: #2a7fff;
}
ul.dropdown li.hover a{
	color: black;
}


.ebPanelContent{
font-size:10pt;
position:relative;
padding:20px;
}

.ebPanelContent p{
width:500px;
}

.ebLearnMore a{

}

.ebLearnMore a:hover{
font-weight:normal;
}

.ebPanelHeadline{
color:#2a7fff;
font-weight:bold;
font-size:12pt;
}

.ebPanelSubtitle{
color:#2a7fff;
font-weight:normal;
font-style:italic;
font-size:10pt;
margin-top:10px;
width:500px;
}

.featureTextContainer{
font-size:8pt;
height:410px;
position:relative;
}

.featureTextContainer .innerContainer{
height:97%; 
overflow:hidden;
/*the size of the parent, .featureTextContainer, minus .expandButton (in superGlobal) divided by size of parent.
It *has* to be a percentage in order to follow the size of feature text container when it expands.
*/
}

.smallHead{
font-size:10pt;
font-weight:bold;

}
.featureTextContainer .subTitle{
font-weight:bold;
margin:5px 0px 5px 0px;
}

.ebFeaturePara{
font-size:8pt;
}

.ebLearnMore{
font-weight:bold;
margin-left:40px;
}

/*refers to subsequent levels of popup, if present*/
ul.dropdown ul li{
	background: #f6f6f6;
	color: #000;
}

