
html {
	font-family:sans-serif;
}

h1{
	font-size:1em;
	font-size:1rem;
}

h2{
	font-size:1em;
	font-size:1rem;
}

h3{
	font-size:1em;
	font-size:1rem;
}

h4{
	font-size:1em;
	font-size:1rem;
}

h5{
	font-size:1em;
	font-size:1rem;
}
