.mainContentContainer {
}

.panelBlock {
	width: 900px;
	height: 500px;
	font-size: 14pt;
	color: red;
	color: #2a7fff;
	overflow: hidden;
	text-align: left;
	background: #f2f2f2;
}


.anythingSlider-default.activeSlider .anythingControls a {
	background: #f2f2f2 !important;
	color: #ccc !important;
}

.anythingSlider-default.activeSlider .anythingWindow {
	border-color: #FFF !important;
	border-bottom: 2pt solid #f2f2f2 !important;
}

/* Navigation styles are in superGlobal */

.discoveryList{
font-size:8pt;
margin:5px 20px 15px 10px;
}

b{
font-weight:bold;
}