.logoBlueUNUSED{
color:#3270cc;
}

.logoRedUNUSED{
color:#b800a1;
}

.shadow1{
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
}