<div class='infoPanel' id='Easy_to_User' title='Straightforward and Easy to Use'>

	<div class='upperSection' style=''>
		<div style='' class='textContainer'>
			<div class='headline'>
				Straightforward and Easy to Use
			</div>
			<div class='explanation featureItemsSmallHide mobile' style=''>
				<ul class='list'>
		<li>Clear navigation matches process</li>
		<li>Edit in context on page</li>
		<li>Distribute files</li>
		<li>In-context Visualization and Reporting</li>
		<li>Only see relevent information</li>
				</ul>
			</div>

		</div>


		<div class='decoration featureItemsSmallHide' style=''>
		<img style='' class=' ' src='../images/infoPanelDecorations/stock-photo-6237376-final-touch-to-achievement.jpg' 
		style=''><br/>
		<img style='' class=' ' src='../images/infoPanelDecorations/stock-photo-6237376-final-touch-to-achievement.jpg' 
		style=''><br/>
		</div>
		<div class='textContainerShim'></div>
	</div>
	<div class='lowerSection'>
			<a class='responsiveButton moreInfo ' href='#' >See Editors</a>
		<a class='responsiveButton moreInfo ' href='#' >Reporting</a>
	</div>

</div>