/*these are assembled by mediaQueries/logo*/

.logo{
	display:-webkit-flex;
	display:flex;
	flex-direction:row;
	width:-moz-fit-content;
	width:-webkit-fit-content;
	}
	
.planName{
color:#3270cc;
}

.prodName{
color:#b800a1;
font-size:150%;
font-weight:normal;
margin:-.1em 0em 0em -.3em;
}