
.slick-prev::before, .slick-next::before{
color:black;
}

.slick-next:hover{
color:white;
background:#ddd;
}
.slick-prev:hover{
color:white;
background:#ddd;
}

.example .title{
color:#b800a1;
text-align:center;
}

.infoBgcolorBlue{
background:rgb(227, 237, 251);
}

.more{
color:gray;
}
.more:hover{
color:black;
}

.less{
color:gray;
}
.less:hover{
color:black;
}